<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Okay Articlus</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.tiny.cloud/1/1wmt7pm0vqnumlwrk9hjxwwpzuor0sw1svoqnsmi01sfx4pt/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#mytextarea',
      menubar: false
    });
  </script>

  <link rel="stylesheet" href="/css/styles.css">

  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand text-start fw-bold text-success" href="/">OKAY ARTICLUS  <i class="fa-solid fa-book"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0  ms-auto">
          
          <li  class="nav-item px-3" id="home"><a class="nav-link" href="/">HOME</a></li>
          <li  class="nav-item px-3" id="about"><a class="nav-link" href="/about">ABOUT US</a></li>
          <li  class="nav-item px-3" id="contact"><a class="nav-link" href="/contact">CONTACT US</a></li>
         <% if (loggedIn){ %>
            <li  class="nav-item px-3" id="dashboard"><a class="nav-link" href="/dashboard">DASHBOARD</a></li>
<% }else{ %>
            <li  class="nav-item px-3" id="register"><a class="nav-link" href="/register">REGISTER</a></li>
            <li  class="nav-item px-3" id="login"><a class="nav-link" href="/login">LOGIN</a></li>
        <%  } %>
          
          
          
          
        </ul>
        
      </div>
    </div>
  </nav>
  <script defer src="https://use.fontawesome.com/releases/v6.2.0/js/all.js"></script>
</head>

  

  <body class="d-flex flex-column min-vh-100">
    <div class="container">
      