/* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
} */
/* .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
} */
.navbar-nav  li a:hover {
    color: green !important;
}





.btnn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #0a010a;
    font-size: 18px;
    background: rgba(247, 191, 9, 0.466);
    padding: 5px 20px 10px 20px;
    margin-top: 15px;
    text-decoration: none;
  }
  
  .btnn:hover {
    background: #e8edf0;
    text-decoration: none;
  }

 #mydiv {
    
    background-image: url("https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
   
   
 }

 body {
    background-color: rgba(245, 232, 194, 0.466);
 }
